<div class="background">
  <div class="white">
    <a name="about"></a><h2>What is <span itemprop="name">Landlab</span>?</h2>
    <p>
      terrainbento is a modular landscape evolution modeling package built on top of the
      <a target="_blank" href="http://landlab.github.io/#/">Landlab Toolkit</a>.
    </p>
    <p>
      terrainbento is described in more detail by Barnhart et al. in a <a target="_blank" href="https://www.geosci-model-dev-discuss.net/gmd-2018-204/">Creative Geoscientific Model Development Discussion paper</a>.
    </p>
  </div>
</div>
<div class="background">
  <div class="white">
    <a name="install"></a><h2>Installing the release version of terrainbento with conda</h2>
    <p>
      Prebuilt binaries for terrainbento that support multiple Python versions,
      and the Mac, Linux, and Windows operating systems are distributed through
      <a target ="_blank" href="https://anaconda.org/terrainbento/terrainbento">Anaconda Cloud<\a>.
      Check the hyperlink to identify if we support your Python and OS needs.
      If we don't, please make a <a target ="_blank" href="https://github.com/TerrainBento/terrainbento/issues">Github Issue<\a>.
    <\p.

    <p>
      To install terrainbento, you will need a Python Python 2.6+ or 3.5+
      distribution. If you are unsure of what you want, we recommend the
      <a target ="_blank" href="https://www.anaconda.com/download/">Anaconda<\a>
      3.6 or 3.7 distributions. You will also need the
      <a target ="_blank" href="https://conda.io/docs/">conda package manager<\a>.
    </p>

    <p>
      Open a terminal (or, on a PC, the command prompt—make sure it is a true DOS "cmd" prompt, not, e.g., Cygwin) and type the following:
    </p>
    <p>
      <code>> conda install -c terrainbento terrainbento</code>
    </p>

    <p>
      If you encounter issues in installation, please let us know using a
      <a target ="_blank" href="https://github.com/TerrainBento/terrainbento/issues">Github Issue<\a>.
    <\p>

    <p>
      Users who want to modify the terrainbento source code or contribute new
      code should follow the
      <a href="https://github.com/TerrainBento/terrainbento/wiki/Developer-Installation">developer installation instructions</a>.
    </p>
  </div>
</div>
